PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0
Server = {{ zabbix_server }}
ServerActive = {{ zabbix_server }}
Include=/etc/zabbix/zabbix_agent2.d/*.conf
ControlSocket=/tmp/agent.sock
ListenPort = {{ zabbix_agent_port }}
Include=./zabbix_agent2.d/plugins.d/*.conf
